body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

button {
  background: #22c55e;
  border: none;
  color: black;
  cursor: pointer;
}

img {
  margin-top: 10px;
  border-radius: 10px;
}

#result {
  white-space: pre-wrap;
  margin-top: 15px;
}